<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your credentials are </title>
</head>
<body>
    <h1>client id</h1>
    <p>Your client id is:</p>
    <p><strong><%= client_id %></strong></p>
    <h1>client secret</h1>
    <p>Your client secret is:</p>
    <p><strong><%= client_secret %></strong></p>
    <h1>redirect uri </h1>
    <p>Your account server is:</p>
    <p><strong><%= redirect_uri %></strong></p>
    <h1>Scope</h1>
    <p>Your scope is:</p>
    <p><strong><%= scope %></strong></p>

</body>
</html>