<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Code</title>
</head>
<body>
    <h1>Recieved cred</h1>
    <p>Your authorization code is:</p>
    <p><strong><%= client_id %></strong></p>
    <h1>Location</h1>
    <p>Your locations is:</p>
    <p><strong><%= client_secret %></strong></p>
    <h1>Account-Server</h1>
    <p>Your account server is:</p>
    <p><strong><%= redirect_uri %></strong></p>
    <h1>Account-Server</h1>
    <p>Your account server is:</p>
    <p><strong><%= scope %></strong></p>

</body>
</html>